div[id="panelinformacion"]{
    width: 400px;
    height: 300px;
    border: black 1px solid;
    position: absolute;
    top: 140px; left: 400px;
    
}

HTML CSSResult Skip Results Iframe
EDIT ON

.flex-container {
  /* We first create a flex layout context */
  display: flex;
   max-inline-size: 1440px;
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
 
}

.flex-container > li{
  list-style: none;
  margin-left: 3em;
  margin-top: 3em;
  display: inline-block;
  font-size: 1em;
  
  
}
.flex-container > li > figure{
  display: block;
  background-color:gray;
  border: solid .5em rgba(128, 128, 128, 0.171);
  width: 10em;
  height: 10em;
  border-radius: .5em;

}





.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}