*{
  padding: 0;
  margin: 0;
  }
  body{
  font-size: 13px;
  background: var(--Light-grayish-blue);
  font-family: 'Cabin', sans-serif;

  
 
  }
  :root{
    /*colors primary*/
  
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
  
  }

.header{
  
  background-image: url("https://fontmeme.com/permalink/210716/208ebbbf3233109c35c36e8f236fa2f0.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: red;
 
  width: 100%;
  height: 30vh;
  position: relative;
  z-index: -1;
 }



h1{
  font-size: 2em;
  margin: 1.5em;
  color: var(--Very-dark-grayish-blue);
  font-weight: 700;
  text-align: center;
}

.flex-container {
  
  display: grid;
  max-inline-size: 1440px;
  block-size: 100vh;
  margin: 0 auto;
  grid-gap: 1.5em;
  grid-template-areas: "sec-1 sec-2";
  grid-template-columns: 18em 1fr;
  
}

  .imgFiltro img{
    margin-left: 1em;
    margin-top: 1em;
    size: contain;
    

  }
  select{
    margin: 0em 1em 0 1em;
    font-size: 1em;
    height: 2em;
    padding: 5px;
    width: 15em;
  }
  

  .input{
    margin: 1em 1em 0 1em;
    font-size: 1em;
    height: 2em;
    width: 5em;
 }
 .bttn{
  margin: 1em 1em 0 0em;
  font-size: 1em;
  height: 2em;
  width: 5em;
 
}
 

.boxFilter{
  grid-area: sec-1;
  grid-column-start: 1;
  grid-column-end: 2;
  display: inline;
  
  }

.boxPok{
  grid-area: sec-2;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  background-size:25%;
  height: 100%;
  margin-right: 4em;
  background-image:url(img/BackGround_gris0.png);
  opacity: .5;
  
  
}





.boxPok > li{
  list-style: none;
  margin: 3em;
  display:block;
  font-size: 1em;
  opacity: 1;
 
 
  
}
 .boxTarjeta{
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
  
}

.boxMenuFilt{
  display: flex;
  flex-flow: column wrap;
  margin-left: 2em;
 
}

.boxImg{

 
  display:flex;
  background:rgb(204, 204, 125);
  
  height: 200px;
  align-items: center;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  

  
}


.boxInf{
  
  display: block;
  background: rgb(218, 218, 179);
  width: 220px;
  height: 200px;
  padding-left: 1em;
  padding-bottom: 1em;
  }

  .texto{

    font-size: 1.2em;
    padding-right: .2em;
    color: grey;
  }
  p{
    font-size: 1.1em;
    color: grey;
  }

  .namePok{
   font-size: 2em;
   text-align: center;
   text-transform:capitalize;
   padding-top: .5em;
   padding-bottom: .5em;
   
  }
  .visible{
    display: block;
    margin: 1em 1em 0 1em;
    font-size: 1em;
    
   
    margin-top: 2em;
    
  }

 
  .invisible{
    display: none;
  }

  .txtLabel{
   
    font-size: 1em;
    margin-top: 1em;
  }
  #nivel{
    width: 3em;
    margin-left: .2em;
    margin-right: .2em;
    
  }

/*.boxImg > li > figure {
  
  display: block;
  background-color:var(--Light-grayish-blue);
  border: solid .5em var(--Light-grayish-blue);
  width: 15em;
  height: 15em;
  border-radius: .5em;

}



.boxImg> li > figure >img{
height: 100px;
width: 100px;
text-align: center;
}*/

@media only screen and (max-width:749px) and  (min-width:360px){
   
 
  

   h1{
    font-size: 1.5em;
    }

    .header{
      background-size: contain;
    }
  
    .flex-container {
  
      
      flex-direction: column;
      height: auto;
      block-size: auto;
      grid-gap: 1em;
      display: inline;
      
      
      
      
    }
 
    .boxFilter{
      height: auto;
      grid-column: 1 / 1;
    }
   
    
    .boxPok{
     
      height: auto;
      grid-column: 1 / 1;
      margin-top: 2em;
      margin-right: 0em;
     
    
      
    }

    .boxInf{
  
      display: block;
      width: 150px;
      height: 200px;
      padding-left: .5em;
      padding-bottom: 1em;
      }
    
    

      .boxPok > li{
         margin: 1em;
        
      }

      .boxMenuFilt{
        justify-content: center;
        align-items: center;
      }

      

    

    


}